In [1]:
install.packages("readxl")

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\qkreh\AppData\Local\Temp\Rtmp6RyCXZ\downloaded_packages

In [2]:
install.packages("dplyr")

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\qkreh\AppData\Local\Temp\Rtmp6RyCXZ\downloaded_packages

In [4]:
library(readxl)
library(dplyr)

In [5]:
data_2020<-read.table('exam/신한카드 데이터//KCTI_NATIVE_2020.txt',sep='|',row.names = NULL)

In [6]:
head(data_2020)

  V1   V2   V3 V4         V5         V6      V7        V8     V9
1 v1   v2   v3 gb3        gb2        sex_ccd cln_age_r ta_ym  daw_ccd_r
2 경기 세종 .  취미오락   유흥       M       40        202001 RED
3 경남 세종 .  스포츠활동 레저스포츠 M       30        202001 RED
4 광주 세종 .  취미오락   패션쇼핑   M       30        202001 RED
5 인천 세종 .  취미오락   인터넷게임 M       30        202001 RED
6 경기 세종 .  취미오락   유흥       M       40        202001 RED
  V10            V11     V12
1 apv_ts_dl_tm_r vlm     usec
2 휴식           6410700 45
3 활동           147900  15
4 휴식           793050  5
5 취침           10200   10
6 취침           382500  5

In [7]:
data_2020_travel  <-filter(data_2020,data_2020$V4=='여행')

In [8]:
count(data_2020_travel)

  n
1 679483

In [9]:
count_1<-filter(data_2020_travel,data_2020_travel$V8=='202001')
count_2<-filter(data_2020_travel,data_2020_travel$V8=='202002')
count_3<-filter(data_2020_travel,data_2020_travel$V8=='202003')
count_4<-filter(data_2020_travel,data_2020_travel$V8=='202004')
count_5<-filter(data_2020_travel,data_2020_travel$V8=='202005')
count_6<-filter(data_2020_travel,data_2020_travel$V8=='202006')

In [10]:
count(count_1)
count(count_2)
count(count_3)
count(count_4)
count(count_5)
count(count_6)

  n
1 134601

  n
1 111883

  n
1 91753

  n
1 100216

  n
1 122799

  n
1 118231

In [11]:
data_2020_travel

       V1   V2   V3       V4   V5       V6 V7 V8     V9    V10  V11      V12
1      대전 세종 .        여행 숙박     M  30 202001 RED   활동 510000   10
2      인천 세종 .        여행 체험     M  40 202001 RED   휴식 105060   5
3      부산 대구 남구     여행 체험     F  20 202001 RED   활동 267750   15
4      제주 부산 남구     여행 숙박     F  30 202001 RED   활동 168300   10
5      강원 울산 남구     여행 숙박     M  40 202001 RED   휴식 233580   5
6      인천 대구 남구     여행 체험     M  30 202001 RED   활동 145350   5
7      울산 울산 남구     여행 숙박     F  50 202001 RED   취침 204000   5
8      광주 울산 남구     여행 숙박     M  40 202001 RED   활동 1279539  10
9      대전 부산 남구     여행 숙박     F  50 202001 WHITE 취침 153000   5
10     광주 울산 남구     여행 숙박     M  50 202001 RED   활동 229500   5
11     경기 대구 남구     여행 숙박     M  60 202001 RED   취침 306000   5
12     광주 부산 남구     여행 숙박     M  40 202001 WHITE 취침 178500   5
13     세종 대전 동구     여행 숙박     M  50 202001 RED   활동 357000   10
14     강원 대구 동구     여행 숙박     M  20 202001 WHITE 활동 102000   5
15     대구 대구 동구     여행 교통     F  20 202001 RED   활동 56100    5
16     충남 대구 동구     여행 체험     F  30 202001 WHITE 활동 744600   10
17     광주 광주 동구     여행 여행사   M  50 202001 WHITE 활동 15646851 15
18     경기 광주 동구     여행 숙박     F  20 202001 RED   휴식 229500   5
19     부산 부산 동구     여행 여행사   F  40 202001 WHITE 활동 14790000 10
20     세종 대전 동구     여행 체험     M  40 202001 WHITE 활동 1157700  5
21     충남 대전 동구     여행 체험     F  50 202001 RED   휴식 61200    5
22     서울 대구 동구     여행 숙박     F  40 202001 RED   활동 535500   10
23     인천 인천 동구     여행 관광쇼핑 F  50 202001 WHITE 활동 765000   5
24     인천 인천 동구     여행 숙박     M  30 202001 WHITE 취침 586500   15
25     경기 부산 북구     여행 숙박     F  40 202001 RED   휴식 433500   10
26     부산 광주 북구     여행 체험     F  40 202001 RED   활동 153000   10
27     부산 부산 북구     여행 교통     F  50 202001 WHITE 활동 204000   5
28     충남 울산 북구     여행 숙박     F  50 202001 WHITE 휴식 51000    5
29     전남 부산 북구     여행 숙박     M  50 202001 RED   휴식 306000   5
30     부산 울산 북구     여행 교통     F  50 202001 WHITE 활동 3876000  5
<U+22EE>      <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>
679454 서울 강원 홍천군   여행 교통     M  20 202006 WHITE 휴식 511000   5
679455 강원 강원 홍천군   여행 교통     F  20 202006 WHITE 활동 1379700  10
679456 강원 강원 화천군   여행 숙박     M  20 202006 RED   취침 511000   5
679457 대전 강원 횡성군   여행 숙박     M  60 202006 RED   활동 229950   5
679458 서울 강원 횡성군   여행 숙박     M  20 202006 WHITE 활동 718466   25
679459 강원 강원 횡성군   여행 숙박     M  40 202006 RED   활동 3669337  117
679460 인천 강원 횡성군   여행 숙박     M  40 202006 RED   휴식 306600   5
679461 서울 서울 동대문구 여행 숙박     F  60 202006 WHITE 휴식 1875370  35
679462 경기 서울 동대문구 여행 숙박     M  30 202006 WHITE 활동 1803830  61
679463 인천 인천 미추홀구 여행 숙박     M  60 202006 RED   휴식 4384380  66
679464 경기 인천 미추홀구 여행 교통     F  60 202006 WHITE 활동 25287039 35
679465 대구 부산 부산진구 여행 숙박     M  20 202006 WHITE 휴식 688317   20
679466 울산 부산 부산진구 여행 숙박     M  20 202006 WHITE 활동 1384810  51
679467 충북 제주 서귀포시 여행 체험     F  40 202006 WHITE 활동 2563687  45
679468 전남 제주 서귀포시 여행 숙박     M  40 202006 RED   휴식 2331693  10
679469 전북 제주 서귀포시 여행 체험     M  30 202006 WHITE 활동 2731295  97
679470 세종 제주 서귀포시 여행 체험     M  40 202006 WHITE 활동 1457372  45
679471 전남 제주 서귀포시 여행 체험     M  30 202006 RED   활동 718466   51
679472 경북 제주 서귀포시 여행 숙박     M  40 202006 RED   휴식 353356   15
679473 부산 제주 서귀포시 여행 숙박     M  60 202006 WHITE 활동 5175408  40
679474 경기 제주 서귀포시 여행 체험     F  60 202006 RED   활동 1859529  61
679475 광주 제주 서귀포시 여행 체험     F  30 202006 RED   활동 1110914  81
679476 부산 서울 서대문구 여행 숙박     M  60 202006 WHITE 취침 311710   10
679477 경북 서울 서대문구 여행 숙박     M  40 202006 WHITE 휴식 669410   15
679478 인천 서울 영등포구 여행 교통     M  20 202006 WHITE 활동 5927600  15
679479 인천 서울 영등포구 여행 체험     M  40 202006 WHITE 활동 784385   20
679480 충남 경기 의정부시 여행 숙박     M  40 202006 WHITE 활동 766500   20
679481 경기 경기 의정부시 여행 숙박     F  60 202006 RED   취침 408800   5
679482 부산 부산 해운대구 여행 관광쇼핑 M  50 202006 WHITE 활동 6529655  25
679483 부산 부산 해운대구 여행 관광쇼핑 M  30 202006 RED   활동 150745   15

In [12]:
write.csv(data_2020_travel,file='data_2020_travel.csv')